* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;


}

header {
    background-color:#70385f;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#hero {
    padding: 100px 0;
    background-color: #945981;
    color: #fff;
    text-align: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.developer-info {
    display: flex;
    align-items: center;
}

.developer-info img {
    width: 275px; /* Tamanho da imagem */
    height: 275px; /* Altura igual à largura para garantir um círculo perfeito */
    margin-right: 20px; /* Espaçamento à direita da imagem */
    border-radius: 50%; /* Transformar a imagem em círculo */
    transition: transform 0.3s ease; /* Transição de transformação ao passar o mouse */
}

.developer-info img:hover {
    transform: scale(1.05); /* Aumentar um pouco a escala ao passar o mouse */
}

.developer-info p {
    font-size: 18px;
    max-width: 400px; /* Largura máxima do parágrafo */
    line-height: 1.6;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
#hero h2 {
    font-size: 40px;
    margin-bottom: 30px;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
/* Estilos para a seção Skills */
#skills {
    padding: 80px 0;
    background-color: white; /* Cor de fundo da seção Skills */
    text-align: center; /* Centralizar o conteúdo */

}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; /* Espaçamento entre as linhas de ícones */
}

.skill {
    width: 120px; /* Largura do bloco de habilidade */
    margin: 0 15px; /* Espaçamento entre os ícones */
}

.skill i {
    font-size: 50px; /* Tamanho do ícone */
    color: #834574; /* Cor do ícone */
}

.skill span {
    display: block;
    margin-top: 10px; /* Espaçamento superior */
    font-size: 18px; /* Tamanho do texto da habilidade */
    font-weight: bold;
}

/* Estilos para a seção de Projetos */
#projects {
    padding: 80px 0;
    background-color: #f8f9fa; /* Cor de fundo da seção de Projetos */
    text-align: center; /* Centralizar o conteúdo */
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espaçamento entre os projetos */
}

.project {
    width: 600px;
    padding: 20px;
    background-color: #fff; /* Cor de fundo do bloco do projeto */
    border: 2px solid #70385f; /* Borda sólida azul */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.project img {
    width: 100%;
    border-radius: 8px; /* Cantos arredondados da imagem */
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;

}

.project p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #70385f; /* Cor de fundo do botão "Ver mais" */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #ffb1ee; /* Cor de fundo do botão "Ver mais" ao passar o mouse */
}

footer {
    background-color:#70385f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}